@import "../plugins/global/plugins.bundle.css";
@import "../css/style.bundle.css";

body {
    background-color: #FFFFFF !important;
}

.btn{
    &.btn-primary{
        border-color: #04c8c8;
        background-color: #04c8c8;
        &:hover:not(.btn-active){
            border-color: #00afaf;
            background-color: #00afaf !important;
        }
    }
}


